/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #111827;
}

.product-card {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 1rem;
  width: 300px;
  height: 250px;
}
.product-card p {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-card span {
  font-weight: 200;
  font-size: 1.2rem;
}
.product-card figure {
  position: relative;
  height: 300px;
  aspect-ratio: 16/9;
  overflow: hidden;
  box-shadow: rgba(22, 21, 21, 0.14) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.product-card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s ease;
  transform: scale(0.8);
}
.product-card figure img:hover {
  transform: scale(0.8) rotate(22deg);
}

.product-info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #3470db;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  letter-spacing: 1;
  cursor: pointer;
  font-size: 0.7rem;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: white;
  color: #3470db;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}

.index {
  margin-top: 2.5%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 400px;
  border-bottom: solid rgb(142, 144, 170) 0.1px;
  justify-content: space-around;
}
.index .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}
.index .intro h2 {
  font-size: 5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.index .intro h2 .blue {
  color: #0061BA;
}
.index .intro .see-store {
  background: linear-gradient(90deg, #49A8FF 0%, #007CEE 100%);
  border: none;
  color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  letter-spacing: 1;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
}
.index .images {
  display: flex;
  flex-direction: row;
  width: 45%;
}
.index .images .shoe {
  width: 400px;
  position: absolute;
  z-index: 1;
  margin-left: 50px;
}
.index .images .logo {
  width: 550px;
  z-index: 0;
  position: absolute;
  margin-top: 80px;
}

.latest-product {
  margin-top: 2.5%;
  margin-bottom: 5%;
}
.latest-product h3 {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
}
.latest-product h3 .blue {
  color: #0061BA;
}
.latest-product .products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.marketing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin-left: 25%;
}
.marketing .shoe {
  width: 300px;
}
.marketing .provide {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
  text-align: center;
  margin-bottom: 2%;
}
.marketing .provide .blue {
  color: #0061BA;
}
.marketing .text-marketing {
  color: rgb(177, 177, 177);
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.8;
  margin-bottom: 10%;
}

.opinions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  gap: 5%;
}
.opinions .article-opinion .people {
  border-radius: 50%;
  width: 80px;
  margin-left: 40%;
  margin-bottom: 5%;
}
.opinions .article-opinion .name {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2.5%;
}
.opinions .article-opinion .review {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(148, 148, 148);
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.8;
}

.topnav {
  display: flex;
  flex-direction: row;
  background-color: #111827;
  border-bottom: solid 1px rgb(42, 39, 78);
  justify-content: space-between;
}
.topnav .store {
  padding-left: 15%;
  display: flex;
}
.topnav .store li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav .store li a {
  text-decoration: none;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  padding: 20px 10px 20px 10px;
}
.topnav .store li a:hover {
  color: #fcd34d;
  background-color: #020e24;
  border-radius: 5%;
}
.topnav .homeAbout {
  display: flex;
  gap: 30px;
}
.topnav .homeAbout li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav .homeAbout li a {
  text-decoration: none;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  padding: 20px 10px 20px 10px;
}
.topnav .homeAbout li a:hover {
  color: #fcd34d;
  background-color: #020e24;
  border-radius: 5%;
}
.topnav .login {
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav .login li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav .login li a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-family: "Nunito Sans", sans-serif;
  padding: 20px 10px 20px 10px;
}
.topnav .login li a:hover {
  color: #fcd34d;
  background-color: #020e24;
  border-radius: 5%;
}
.topnav .login li .cart {
  width: 25px;
  filter: brightness(200%) invert(100%);
}
.topnav .login li span {
  font-weight: 200;
  font-size: 0.9rem;
}

.cart-item {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(65, 102, 187, 0.495);
  margin-bottom: 2rem;
}
.cart-item .cart-product {
  font-weight: 700;
}
.cart-item .cart-price {
  font-weight: 200;
}
.cart-item img {
  width: 70px;
  height: 70px;
  transform: scale(0.8);
}
.cart-item button {
  padding: 0.5rem;
}

.page-title {
  font-size: 2rem;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  padding: 2rem 0;
}

.cart-checkout {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 2rem 0;
}

#price-total {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 2em;
  font-weight: 200;
}
#price-total span {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .shopping-cart {
    margin: 0 10%;
  }
  .cart-checkout {
    margin: 0 -10%;
  }
  .page-title {
    margin: 0 10%;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  background-color: #111827;
  border-top: solid 1px rgb(42, 39, 78);
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.footer .homeAbout {
  display: flex;
  gap: 30px;
}
.footer .homeAbout li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .homeAbout li a {
  text-decoration: none;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  padding: 20px 10px 20px 10px;
}
.footer .homeAbout li a:hover {
  color: #fcd34d;
  background-color: #020e24;
  border-radius: 5%;
}

.opinions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  gap: 5%;
}
.opinions .article-opinion .people {
  border-radius: 50%;
  width: 80px;
  margin-left: 40%;
  margin-bottom: 5%;
}
.opinions .article-opinion .name {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2.5%;
}
.opinions .article-opinion .review {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(148, 148, 148);
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.8;
}

.success {
  color: #07ee07;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

.checkout-form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px;
  padding-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}
.checkout-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.checkout-form input[type=text],
.checkout-form input[type=email] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  background: #eee4ec;
  color: black;
}
.checkout-form input[type=submit] {
  background-color: #3470db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}
.checkout-form input[type=submit]:hover {
  background-color: #cb8fbf;
}/*# sourceMappingURL=style.css.map */