.story {
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid 1px rgb(42, 39, 78);
    h2 {
        font-family:"Nunito Sans", sans-serif;
        color:white;
        font-size: 4rem;
        text-align: center;
        padding-bottom: 2%;
    }
    p{
        font-family: "Nunito Sans", sans-serif;
        color: grey;
        font-size: 1.2rem;
        text-align: center;
        width: 900px;
        margin: 0 auto;
        line-height: 1.3;
    }
}

.quality {
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid 1px rgb(42, 39, 78);
    h2 {
        font-family:"Nunito Sans", sans-serif;
        color:white;
        font-size: 4rem;
        text-align: center;
        padding-bottom: 2%;
    }
    p{
        font-family: "Nunito Sans", sans-serif;
        color: grey;
        font-size: 1.2rem;
        text-align: center;
        width: 900px;
        margin: 0 auto;
        line-height: 1.3;
    }
}

.reviews {
    padding-top: 2%;
    padding-bottom: 2%;
    h2 {
        font-family:"Nunito Sans", sans-serif;
        color:white;
        font-size: 4rem;
        text-align: center;
        padding-bottom: 2%;
    }
}

@media (max-width: 468px) {
    .story {
        h2 {
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
            max-width: 300px;
        }
    }
    
    .quality {
        h2 {
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
            max-width: 300px;
        }
    }
    .reviews {
        h2 {
            font-size: 2rem;
        }
    }

}

@media (min-width: 468px) and (max-width: 768px) {
    .story {
        h2 {
            font-size: 3rem;
        }
        p{
            font-size: 1rem;
            max-width:400px;
        }
    }
    
    .quality {
        h2 {
            font-size: 3rem;
        }
        p{
            font-size: 1rem;
            max-width: 400px;
        }
    }
    .reviews {
        h2 {
            font-size: 3rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 1056px) {
    .story {
        h2 {
            font-size: 3rem;
        }
        p{
            font-size: 1rem;
            max-width:700px;
        }
    }
    
    .quality {
        h2 {
            font-size: 3rem;
        }
        p{
            font-size: 1rem;
            max-width: 700px;
        }
    }
    .reviews {
        h2 {
            font-size: 3rem;
        }
    }
}