.btn {
  background-color: $highBlue;
  border: none;
  color: $white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  letter-spacing: 1;
  cursor: pointer;
  font-size: 0.7rem;
}
