.footer {
  display: flex;
  flex-direction: row;
  background-color: #111827;
  border-top: solid 1px rgb(42, 39, 78);
  justify-content: space-between;
  justify-content: center;
  align-items: center;

  .homeAbout {
    display: flex;
    gap: 30px;

    li {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: white;
        font-family: "Nunito Sans", sans-serif;
        padding: 20px 10px 20px 10px;

        &:hover {
          color: #fcd34d;
          background-color: #020e24;
          border-radius: 5%;
        }
      }
    }
  }
}
