.topnav {
    display:flex;
    flex-direction: row;
    background-color: #111827;
    
    .store {
        text-decoration: none;
        color: white;
    }

    .homeAbout {

    }

    .login {
        .cart {
            width: 25px;
        }
    }
}