.contactinfo {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.space {
    margin-top: 50px;
}

// .btn {
//     margin-left: 30%;
//     margin-top: 5%;
//     font-size: 2rem;
// }